/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

    body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #25133d;
    }


li {
    display: inline-block;
	margin: 0;
    padding: 10px;
    margin: 0 15px;
}

h1 {
    font-size: 50px;
    margin-top: 0px;
    font-weight: 700;
    letter-spacing: 5px;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    width: 300px;
}

.vizual {
    background-image: url(images/pozadi.jpg);
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 720px;
    height: 340px;
    padding: 30px;
}

.telefon {
    position: absolute;
    top: 111px;
    left: 889px;
    zoom: 80%;
}

.tlacitko1 {
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: white;
    background-color: #48418e;
    border-radius: 8px;
    padding: 6px 10px;
    box-shadow: grey 1px 2px 5px;
    border: 1px solid white;
    width: 180px;
    float: left;
}

.tlacitko2 {
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: white;
    background-color: transparent;
    border-radius: 8px;
    padding: 6px 10px;
    box-shadow: grey 1px 2px 5px;
    border: 1px solid white;
    width: 180px;
    float: left;
    margin-left: 15px;
}




#odstavec1 { 
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 222px;
    text-align: center;
    padding: 15px;
    padding-bottom: 0px;
    margin-left: 25px;
} 


#odstavec2 { 
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 222px;
    text-align: center;
    padding: 15px;
    padding-bottom: 0px;

} 

#odstavec3 { 
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 222px;
    text-align: center;
    padding: 15px;
    padding-bottom: 0px;

} 

#patka{ 
    clear: both; 
    background-color: #48418e;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding: 4px;
    } 

.copyright {
   
}



.obal {
    width: 720px; /* obsah stránky je omezený do pruhu širokého 960px */
    height: 650px;
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
